@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@{ 
    //throw new InvalidOperationException("View Error");
}
<p>Use this area to provide additional information.</p>
